
body{
    font-family: sans-serif;
}
.asosiy{
    background-color: rgba(128, 128, 128, 0.334);
    min-height: 100svh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.div_registration{
    border: solid 1px white;
    background-color: white;
    padding: 25px;
    width: 250px;
}
.inp{
    width: 100%;
    height: 22px;
    margin: 8px 0;
}
.label{
    font-size: 16px;
}
.btn{
    border: none;
    background-color: lime;
    color: white;
    width: 100%;
    height: 28px;
    font-size: 15px;
    margin-top: 12px;
    cursor: pointer;
}
.top{
    padding-top: 10px;
    font-size: 14px;
}

.btn_asosiy_menyu{
    border: none;
    background-color: lime;
    font-size: 15px;
    color: white;
    padding: 5px 25px;

}
.asosiy_menyu{
    padding: 25px;
    display: flex;
    align-items: center;
    gap: 20px;
}
.btn_asosiy_menyu:hover{
    background-color: red;
    transition: calc(0.8s);
}


ul {
    list-style: none;
    padding: 0;
}

li {
    padding: 6px;
    border-bottom: 1px solid #ddd;
    cursor: pointer;
}

li:hover {
    background: #eee;
}
.hidden{
    display: none;
}
.img_hidden{
    width: 100%;
    height: 100%;
}










@media screen and (max-width:660px) {
   .asosiy_menyu{
    display: block;
   }     
   .btn_asosiy_menyu{
    width: 100%;
    margin: 7px;
   }
}